@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

/* Common Style */
.center_box {
  max-width: 1250px;
  margin: 0 auto;
}

.primary_btn {
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #4caf4f;
}

/* Header Style */
header {
  background-color: #f5f7fa;
  margin-bottom: 40px;
}

/* NavBar Style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.navbar img {
  width: 155px;
  height: 24px;
}

.nav_menu ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

.nav_menu ul li a {
  font-size: 1rem;
  font-weight: 500;
  color: #18191f;
}

.nav_menu ul li a:hover {
  color: #717171;
  transition: 0.3s;
}

.login_btn {
  font-size: 0.882rem;
  font-weight: 500;
  color: #4caf4f;
  border-radius: 6px;
  /* padding: 10px 20px; */
  margin-right: 14px;
}
.login_btn:hover {
  color: #447e46;
  transition: 0.3s;
}

.signup_btn {
  font-size: 0.882rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  background-color: #4caf4f;
}

.signup_btn:hover {
  background-color: #5aa65c;
  transition: 0.3s;
}

/* Banner Style */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 96px 0;
}

.banner_content h1 {
  font-size: 4.032rem;
  font-weight: 600;
  color: #4d4d4d;
  line-height: 76px;
  margin-bottom: 16px;
}

.banner_content h1 span {
  color: #4caf4f;
}

.banner_content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
  margin-bottom: 32px;
}

/* Clients Section Style */

/* .clients_sec {
} */

.clients_sec_head {
  text-align: center;
}

.clients_sec_head h2 {
  font-size: 2.268rem;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 8px;
}

.clients_sec_head p {
  font-size: 1rem;
  font-weight: 400;
  color: #717171;
  margin-bottom: 16px;
}

.clients_images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Mobile Devices (up to 576px) */
@media screen and (max-width: 576px) {
  /* Common Style */
  .navbar,
  .banner,
  .clients_sec {
    width: 85%;
  }

  /* NavBar Resp. */
  .nav_menu {
    display: none;
  }

  /* Banner */
  .banner {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    text-align: center;
  }

  .banner_content h1 {
    font-size: 2.2rem;
    line-height: 45px;
  }

  .banner_img img {
    width: 100%;
  }

  /* Clients Section */
  .clients_images {
    justify-content: center;
    gap: 7px;
  }
}

/* Tablet Devices (576px to 992px) */
@media (min-width: 576px) and (max-width: 992px) {
  /* Common style */
  .navbar,
  .banner,
  .clients_sec {
    width: 90%;
  }

  /* NavBar Resp. */
  .nav_menu {
    display: none;
  }

  /* Banner */
  .banner {
    gap: 50px;
    padding: 50px 0;
  }

  .banner_content h1 {
    font-size: 2.2rem;
    line-height: 45px;
  }

  .banner_img img {
    width: 100%;
  }
}
